body{
    margin: 0;
    padding: 0;
}

header{
    background-color:#1e172f ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


a{
    text-decoration: none;
    color:#595466;
    margin-left:1.5rem ;
}

a:hover{
    color:white;
    text-decoration: none;
}

.button_a {
    display: inline-block;
    background-image: linear-gradient(to right, #8242d5, #5558d5, #296cd5);
    color: white;
    padding: 16px 30px;
    border-radius: 0.5rem; 
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: transform 0.3s;
}

.containerOne{
    display: flex;
    height: 80vh;
}

.divContaONe{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2550;
    width: 50%;
}
.divContaONe1{
    margin-left: 8rem;
}

.divContaONe1 h2{
    margin: 0;
    font-size: 5.5rem;
    color: white;
}
.divContaONe1 p{
    font-size: 1.3rem;
    color: white;
}
.divFondoImg {
    background-image: url(/assets/hojasFondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%; 
    height: 100%;
}
.divFondoImg img{
    height: auto;
    width: 260px;
    position: relative;
    z-index: 1;
    top: 150px;
    left: 190px;
}

.contenedorButton{
    border: 1px solid white;
    height: 5vh;
    width: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button1 {
    padding: 12px 15px;
    margin-left: 6px;
    border-radius: 5px;
    border: none;
    color: #f03f99;
}
.button2 {
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    border-color: white;
}
.titulo{
    display: flex;
    justify-content: center;
    font-size: 7rem;
    font-weight: bold;
    margin: 0 0 3rem 0;
    color: #f41486;
    margin: 4rem 0rem 5rem 0rem;
}
.divcontainertwo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.divcontainertwo img{
    height: auto;
    width: 30vw;
    margin-right: 6rem;
}

.containertwoDiv {
    margin-left: 4rem;
    margin-top: -6rem;
}
.containertwoDiv p{
    font-size: 1.6rem;
    width: 22vw;
    color: #555;

}
#titulo2{
    margin: 0 0 3rem 0;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1.3px;
}
.text-pink {
    color: #d63384;
}
.containertwoDiv h2{
    color: #c76699;
    font-size: 2rem;
}

.features-box li {
    margin-bottom: 10px;
    font-size: 1.7rem;
    color: #555;
}

.container h2{
    font-size: 7rem;
    color: #ffffff;
    text-align: center;
    margin: 5rem 0;
}
.container p{
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 7rem;
    width: 120%;
}



.pricing-plans{
    background-color: #2e2550;
    display: flex;
    flex-direction: column;
    height: 160vh;
}

.plans-container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.plan {
    background: white;
    border-radius: 10px;
    width: 25vw;
    height: 95vh;
    padding: 30px 0px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.plan img {
    width: 150px;
    margin-bottom: 20px;
}

.plan h3 {
    font-size: 3rem;
    margin-bottom: 15px;
    color: #333;
}
.price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 40px 0;
    background-color: #f5f5f5;
    padding: 20px 3px;
}

.price {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}
.amount {
    font-size: 5rem;
    color: #222;
}
.label {
    font-size: 2rem;
    color: #555;
    margin-top: 6px;
}

.iconos{
    position: absolute;
    left: 70px;
    top: 10px;
}

.plan ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.plan ul li {
    margin-bottom: 12px;
    position: relative;
    color: #555;
    font-size: 1.7rem;
}

.plan p {
    font-size: 1.9rem;
    color: #777;
    margin: 15px 0;
    width: 85%;
    margin: 65px 0px 60px 30px;
}

.button-container {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.button {
    padding: 30px 50px;
    font-size: 1.8rem;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease;
}

.plan:nth-child(1) .button {
    background: #e91e63;
}

.plan:nth-child(2) .button {
    background: #3f3d56;
}

.plan:nth-child(3) .button {
    background: #2d2b42;
}

.button:hover {
    opacity: 0.9;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-logos